<!DOCTYPE html> 
	<html style="width: 100%; height: 100%; margin: 0; padding: 0" lang="en-us"> 
	    <head> 
	        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
	        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
	        <meta http-equiv="Cache-Control" content="NO-CACHE"> 
	        <meta http-equiv="Pragma" content="NO-CACHE"> 
	        <link rel="stylesheet" type="text/css" href="http://pokgsa.ibm.com/projects/i/ibmoneui/idx-v1.3.0.3-ga-20130509-cdn/dijit/themes/dijit.css"> 
	        <link rel="stylesheet" type="text/css" href="http://pokgsa.ibm.com/projects/i/ibmoneui/idx-v1.3.0.3-ga-20130509-cdn/dojo/resources/dojo.css"> 
	        <link rel="stylesheet" type="text/css" href="http://pokgsa.ibm.com/projects/i/ibmoneui/idx-v1.3.0.3-ga-20130509-cdn/idx/themes/oneui/oneui.css"> 

      <style> 
         body{ 
            height: 100%; 
         } 
      </style> 

      <script data-dojo-config=" 
           packages: [{ 
            name: 'idx', 
            location: 'http://pokgsa.ibm.com/projects/i/ibmoneui/idx-v1.3.0.3-ga-20130509-cdn/idx' 
             }], 
         parseOnLoad: true 
      " src="http://pokgsa.ibm.com/projects/i/ibmoneui/idx-v1.3.0.3-ga-20130509-cdn/dojo/dojo.js"></script> 
	{% block head %}

	{% endblock %}
	</head>
	
	<body class="oneui">
        {% block body %}

        {% endblock %}
	</body>

</html>

